<script setup>
defineProps({
  color: {
    type: String,
    required: false,
    default: 'blue'
  }
})

const emit = defineEmits({
    kliknuto: null
})
</script>

<template>
  <button :style="{ color }" @click="emit('kliknuto')">
      Click me!
  </button>
</template>

<style scoped>

</style>
