<script setup>
import MyButton from './components/MyButton.vue'

function onKliknuto() {
    alert('Kliknuto!');
}
</script>

<template>
  <header>
    <div class="wrapper">
      <MyButton
        color="red"
        @kliknuto="onKliknuto"
      />

    </div>
  </header>

  <main>
  </main>
</template>

<style scoped>

</style>
