<script setup>
import useUsers from './composables/users';
import usePosts from './composables/posts';

const { users, loadUsers } = useUsers();
const { publishedPosts, publishPosts } = usePosts();
</script>

<template>
  <main>
    <h2>Users</h2>
    <ul>
      <li v-for="user in users" :key="user">
        {{ user }}
      </li>
    </ul>

    <button @click="loadUsers">Load users</button>

    <h2>Posts</h2>
    <ul>
      <li v-for="post in publishedPosts" :key="post.id">
        {{ post.title }}
      </li>
    </ul>

    <button @click="publishPosts">Publish all posts</button>
  </main>
</template>

<style>
  button {
    color: red;
  }
</style>
