<template>
  <h1>{{ message }}</h1>

  <input type="text" v-model="message">

  <div v-if="showLengthWarning">
    <small>⚠ Note limit reached...</small>
  </div>

  <button @click="sayHi">Say hi!</button>

  <hr>

  <main v-if="user">
    <h2>User Info</h2>

    First name: <input type="text" v-model="user.firstName">
    Last name: <input type="text" v-model="user.lastName">
    Age: <input type="number" min="0" v-model="user.age">

    <hr>

    <ul :class="[ 'stable-class', { 'is-adult': isAdult } ]">
      <li>First name: {{ user.firstName }}</li>
      <li>Last name: {{ user.lastName }}</li>
      <li>Age name: {{ user.age }}</li>
      <li>Is adult: {{ isAdult ? '✅' : '❌' }}</li>
      <li>Reversed fullname: {{ fullNameReversed }}</li>
    </ul>

    <button :disabled="!isAdult">
      Confirm transaction
    </button>

    <button v-if="isAdult">
      Confirm transaction
    </button>

    <a :href="`https://mysite.com/${user.firstName}`">
      User profile
    </a>

    <hr>

    <section v-if="showFriendList">
      <h2>Friends:</h2>
      <button @click="findNewFriends">Find more friends</button>
      <ul>
        <li
          v-for="friend in user.friends"
          :key="friend.firstName+friend.lastName"
        >
          First name: {{ friend.firstName }}<br>
          Last name: {{ friend.lastName }}
        </li>
      </ul>
    </section>
  </main>

  <hr>

  <h2>Watchers</h2>

  Search: <input type="text" v-model="searchQuery">

  <ol>
    <li
      v-for="todo in todos"
      :key="todo"
    >
      {{ todo }}
    </li>
  </ol>

</template>

<script>
const loadUser = () => {
  const data = {
    firstName: 'John',
    lastName: 'Doe',
    age: 33,
    friends: [
      { firstName: 'Dan', lastName: 'Charousek' },
      { firstName: 'Jenny', lastName: 'Doe' },
      { firstName: 'Bob', lastName: 'Purple' },
    ]
  };

  return new Promise((resolve, reject) => {
    setTimeout(() => {
      resolve(data);
    }, 2000);
  });
};

// GET /api/v1/todos?q=fo

/*
[
  "foo",
  "bar"
]
*/

const loadTodos = (query = null) => {
  console.info(`Sending GET /api/v1/todos?q=${query}`);
  // Simulates actions on BE
  const data = [
    'lorem',
    'ipsum',
    'dolor',
    'sit',
    'amet'
  ];

  if (query === null) {
    return data;
  }
  
  return data.filter(todo => todo.includes(query));
};


export default {
  data: () => ({
    message: 'Lorem ipsum dolor sit amet! Lorem ipsum dolor sit amet!',
    showLengthWarning: false,
    showFriendList: true,
    user: null,

    searchQuery: '',
    todos: [],
  }),

  async mounted() {
    this.todos = loadTodos();
    this.user = await loadUser();
  },

  watch: {
    message(value) {
      const limit = 30;
      this.showLengthWarning = value.length > limit;
    },

    searchQuery(value) {
      this.todos = loadTodos(value);
    }
  },

  computed: {
    isAdult() {
      return this.user.age >= 18;
    },

    fullNameReversed() {
      const fullName = `${this.user.firstName} ${this.user.lastName}`;

      return fullName.split('').reverse().join('');
    }
  },

  methods: {
    sayHi() {
      this.message = 'Hi!';
    },

    findNewFriends() {
      this.user.friends.push(
        { firstName: 'Karel', lastName: 'Novák' },
        { firstName: 'Petr', lastName: 'Novotný' },
      )
    }
  }
}
</script>


<style scoped>
hr {
  margin: 1em 0;
}

.is-adult {
  font-style: italic;
}
</style>